# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Local Netlify folder
.netlify

# Local Vercel folder
.vercel

############################
### vvv CUSTOM BELOW vvv ###
### vvv CUSTOM BELOW vvv ###
### vvv CUSTOM BELOW vvv ###
############################

###
# Krita (Graphics Design)
# .png~, .kra~, etc.
###
*.kra~
*.*~

###
# Shortcuts for #HappyDevs #DevEx #DX
# @since 2024-06-26
###
# I could not get this exclusion working right.
# So, workaround below #CopyPasteSnippet
#
#     git add shortcuts/README.md -f
#
# !shortcuts/*.md
shortcuts/*